body {
  background: #F0E9BD;
}

::selection {
  background: #ffb7b7;
}

a:hover {
  color:#E86800;
  font-size: 20px;
}

#topNav {
  text-align: center;
  padding: 10px;
}

em {
  font-weight: bold;
  color: blue;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

.clear {
  clear: both;
}

div {
  display: block;
}

i {
  font-weight: bold;
}

nav li {
    display: inline-block;
    font-size: 16px;
    width: 100px;
    font-weight: bold;
    margin-top: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 30px;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background: #A2C087;
   padding:6px;
}

#header a {
  color: black;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

footer {
   position:absolute;
   bottom: -30px;
   width: 100%;
   background:#A2C087;
}

footer p {
  padding-top: 8px;
  text-align: center;
  font-weight: bold; 
  font-size: 16px;
}

footer a {
  color: black;
}

h1 {
  text-align: center;
}

/*found 'perfect background image on css-tricks*/
.about-container { 
    background: url("../images/nightLights.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

.about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about h1, h2 {
  color: white;
}

#me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-top: 40px;
}

#bio {
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: bold;
  opacity: .8;
}

h3 {
  padding-left: 10px;
}

.explanation {
  padding-left: 10px;
  text-align: left;
}
